@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.login img {
    width: 100%;
    height: 100vh;
}

.imagesection {
    width: 50%;
    height: 100vh;

}

.imagesection img {
    width: 100%;
    height: 100vh;
}

section .form_data {
    width: 50%;
    height: 100vh;
    padding: 35px 10px;
    box-shadow: 0 0 15px -10px #48352d;
    display: flex;
    flex-direction: column;
    background: #F7FAFC;
    justify-content: center;

}


.form_heading {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.form_data h1 {
    font-size: 44px;
    color: #060707;
    font-weight: 550;
}

.form_data p {
    color: #718096;
    font-size: 15px;
    margin-top: 9px;
}

.form_data form {
    margin-top: 45px;
    width: 100%;
    padding: 10px 50px;
}

.form_data form .form_input input {
    width: 100%;
    padding: 11px;
    border: 1px solid #d4d0d0;
    border-radius: 5px;
    outline: none;
    margin-bottom: 14px;
    margin-top: 9px;
    font-size: 14px;
    background: #F7FAFC;
}

.form_data form .form_input label {
    font-weight: 600;
    font-size: 15px;
}

.form_input .two {
    display: flex;
    align-items: center;
    position: relative;
}

.form_data form .form_input input:focus {
    border: 2px solid rgba(225, 98, 66, 0.6);
}


.form_data form .form_input input::placeholder {
    color: #8694a8;
    letter-spacing: .5px;
    font-size: 14px;
}

.form_input .showpass {
    position: absolute;
    right: 0;
    top: 1px;
    padding: 7px 10px;
    margin-right: 5px;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 600;
    color: #2a4365;

    border-radius: 5px;
    cursor: pointer;
}

form .btn {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #ff3c00;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .3s;
}


form .btn:hover {
    background-color: #a72700;
}

form .btnload {
    background-color: #97a1b1;
}

.form_data form p {
    text-align: center;
    margin-top: 20px;
}

.form_data form a {
    text-decoration: none;
    color: #ff3c00;
}

@media (max-width: 750px) {
    .imagesection {
        display: none;
    }

    .form_data {
        width: 80%;
        height: 60vh;
        padding: 35px 10px;
        box-shadow: 0 0 15px -10px #48352d;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background: #F7FAFC;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-left: 10%;
    }
}